.Profile {
    min-height: calc(100% - 64px);
    box-sizing: border-box;
    width: 600px;
    margin: auto;
    position: relative;
    z-index: -1;
    border: 1px solid lightblue;
    .top-section {
        padding: 5px;
        height: 200px;
        background-color: lightblue;
        position: relative;
        .settings {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        div.avatar-picture {
            position: absolute;
            bottom: -40px;
            left: calc(50% - 40px);
        }
        .cityzen-place {
            margin-top: 5px;
            .city-line {
                display: flex;
                margin-top: 5px;
                .ImageCDN {
                    margin-right: 5px;
                }
            }
        }
    }
    .content-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        display: flex;
        align-items: center;
        .pseudo {

        }
        .description {
            margin: 10px 10px 0 10px;
        }
    }
}

@media all and (max-width: 959px) {
    .Profile {
        min-height: calc(100% - 48px);
    }
}

@media all and (max-width: 600px) {
    .Profile {
        width: 100%;
    }
}