@import './../../../../../client/variables.scss';

article.HotspotMessage {
    border: 1px solid $mdc-theme-secondary;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    p {
        margin-bottom: 20px;
    }
}
