@import './../../../../../client/main.scss';

section.HotspotContent {
    h1 {
        font-family: 'Amaranth', sans-serif;
        font-size: 2.1em;
        font-weight: 100;
        color: #516167;
    }

    article.Messages {
        border: 1px solid $mdc-theme-secondary;
        padding: 10px;
        margin-right: 20px;
        background-color: #FAFAFA;
        p {
            margin-bottom: 20px;
        }
    }
}
