@import '../../../../../client/variables.scss';

article.HotspotMessage {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    p {
        margin-bottom: 20px;
    }
    header {
        .contextual-action {
            position: absolute;
            right: 10px;
            top: 15px;
            font-size: 1em;
            cursor: pointer;
        }
    }
    footer {
        margin-top: 20px;
        p {
            margin: 0;
        }
        span.comment-link {
            color: $mdc-theme--text-on-secondary-background;
            &:hover {
                color: $mdc-theme-secondary;
            }
        }
    }
}
