@import '../../../../../client/variables.scss';
section.HotspotContent {
    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    margin: 30px 11px 0px 30px;
    display: flex;
    flex-direction: column;

    div.add-message-button {
        border: 1px solid darken($mdc-theme-background, 8%);
        margin-right: 20px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        span {
            margin-left: 10px;
        }
        &:hover {
            span {
                color: $mdc-theme-secondary;
            }
            border: 1px solid $mdc-theme-secondary;
        }
    }

    .inner-handle {
        background-color: gray;
    }

}
