.LeftSideMenu {
    height: 100%;
    background-color: white;
    width: 396px;
    position: absolute;
    z-index: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    top: 0;
    transition: left 300ms ease-in-out;

    .mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input {
        padding-left: 50px;
        box-sizing: border-box;
    }

    .mdc-text-field__bottom-line--active {
        background-color:#f19D00;
    }
    .inner-handle {
        background-color: gray;
    }
}
