.LeftSideMenu {
    height: 100%;
    background-color: white;
    width: 396px;
    position: absolute;
    z-index: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    top: 0;
    transition: left 300ms ease-in-out
}

.drawer-enter {
    left: 0px;
}

.drawer-enter.drawer-enter-active {
    left: -394px;
    transition: left 1000ms ease-in;
}

.drawer-exit {
    left: -394px;
}

.drawer-exit.drawer-exit-active {
    left: 0px;
    transition: left 800ms ease-in;
}
