.AddressModal {
    width: 600px;
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    padding: 10px;
    .AddressContainer {
        h2, h3 {
            text-align: center;
        }
        width: 100%;
        .AddressForm {
            button {
                width: 100%;
            }
        }
    }
}

.AddressModal-backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // needed to pass above tippy tooltip …
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}



@media all and (max-width: 599px) {
    .AddressModal {
        width: 100%;
        height:100%;
    }
}
