@import '../../../client/variables.scss';

.layout {
    background-color: #F9F9F9;
    .organization-title {
        font-style: italic;
        color: $mdc-theme-secondary;
    }
    .logo-map {
        display: flex;
        .logo {
            margin-top: 30px;
            width: 350px;
        }
    }
    .carte-communes {
        width: 200px;
        margin-top: 50px;
        margin-left: 50px;
    }
    .punchline {
        h1 {
            margin-bottom: 20px;
            font-size: 36px;
            font-family: 'Source Serif Pro', serif;
        }
        .subtitle {
            display:block;
            margin-bottom: 10px;
        }
        margin-bottom: 60px;
        .signin-call-to-action {
            margin-top: 20px;
        }
        a {
            padding: 10px;
            color: white;
            text-decoration: none;
            display: inline-block;
            box-shadow:  1px 1px 2px 1px lightgrey;
        }
        a.signin {
            background-color: $mdc-theme-secondary;
        }
        a.visitor {
            margin-left: 20px;
            background-color: lightgray;
        }
    }
    .second-view-line {
        border-top: 1px solid lightgray;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: white;
        .screen-shot1 {
            width: 100%;
            box-shadow: 2px 3px 3px 0 lightgrey;
        }
        h2 {
            margin-bottom: 20px;
        }
    }
    .third-view-line {
        border-top: 1px solid lightgray;
        padding-top: 70px;
        padding-bottom: 70px;
        div.ImageCDN {
            width: 30%;
            display: inline-block;
            img {
                width: 100%;
            }
        }
        h2 {
            margin-bottom: 20px;
        }
    }

    .fourth-view-line {
        border-top: 1px solid lightgray;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: white;
        h2 {
            margin-bottom: 20px;
        }
    }

    .lead-form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        div {
            display: flex;
        }
        input {
            height: 30px;
            width: 100%;
            padding-left: 10px;
            border: 1px solid lightgray;
            background-color: white;
            font-family: Roboto,sans-serif;
            font-size: 0.85rem;
        }
        button {
            width: 100px;
            background-color: orange;
            color: white;
            font-weight: bold;
            border: none;
            cursor: pointer;
            font-variant: all-small-caps;
            font-family: Roboto,sans-serif;
            font-size: 1rem;
        }
    }
}