@import '../../../client/variables.scss';

.layout {
    background-color: #F9F9F9;
    .logo-map {
        display: flex;
        .logo {
            margin-top: 30px;
            width: 200px;
        }
        .blazon {
            width: 120px;
            height: 143px;
            margin-top: 75px;
            margin-left: 20px;
        }
    }
    .carte-communes {
        width: 200px;
        margin-top: 50px;
        margin-left: 50px;
    }
    .punchline {
        h1 {
            margin-bottom: 20px;
        }
        margin-bottom: 60px;
        .signin-call-to-action {
            margin-top: 20px;
        }
        a {
            background-color: $mdc-theme-secondary;
            padding: 10px;
            color: white;
            text-decoration: none;
            display: inline-block;
            box-shadow:  1px 1px 2px 1px lightgrey;
        }
    }
    .second-view-line {
        border-top: 1px solid lightgray;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: white;
        .screen-shot1 {
            width: 100%;
            box-shadow: 2px 3px 3px 0 lightgrey;
        }
        h2 {
            margin-bottom: 20px;
        }
    }
    .third-view-line {
        border-top: 1px solid lightgray;
        padding-top: 70px;
        padding-bottom: 70px;
        img {
            width: 30%;
            margin-right: 10px;
        }
        h2 {
            margin-bottom: 20px;
        }
    }
}