.HotspotDescriptionModal {
    width: 600px;
    position: fixed;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    .container {
        h2 {
            text-align: center;
        }
        .ImageCDN {
            width: 100%;
            margin: auto;
        }
        button {
            width: 100%;
            display: inline-block;
            margin: auo;
        }
    }
}

.HotspotDescription-backdrop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // needed to pass above tippy tooltip …
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 840px) {
    .HotspotDescriptionModal {
        .container {
            .ImageCDN {
                width: 50%;
                margin: auto;
            }
        }
    }
}

@media all and (max-width: 599px) {
    .HotspotDescriptionModal {
        width: 100%;
        height:100%;
        .container {
            h2.mdc-typography--headline5 {
                font-size: 1.2rem;
            }
            .ImageCDN {
                width: 50%;
                margin: auto;
            }
        }
    }
}