@import './../../client/variables.scss';

.MainContainer {
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    .Toolbar {
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        .mdc-toolbar__section {
            height: auto; // hack for edge ...
        }
    }
}

a.user-disconnected {
    text-decoration: underline;
}

@media all and (max-width: 600px) {
    .Toolbar {
        .mdc-toolbar__section {
            span.username {
                display: none;
            }
        }
    }
}
@media all and (min-width: 600px) {
    .Toolbar {
        .mdc-toolbar__section {
            .username-in-menu {
                display: none;
            }
        }
    } 
}
