.MainContainer {
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    .Toolbar {
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        .mdc-toolbar__section {
            height: auto // hack for edge ...
        }
    }
}
.fade-enter {
    top: 0;
    background-color: 'red'
}

.fade-enter.fade-enter-active {
    top: 1000px;
    background-color: 'red'
}
