.HotspotCommentForm {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
    .cityzen-avatar-aside {

    }
    .form-content {
        flex-grow: 1;
        margin-right: 20px;
    }
}