.EventHotspotTimeArea {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 3px 2px 0px #e2e0e0;
    div.iconContainer {
        padding: 10px;
        background-color: #dfdfe4;
        border-radius: 50%;
        margin-right: 10px;
        i {
            font-size: 2em;
        }
    }
}
