.WallHotspotMessageForm {
    background-color: white;
    border: none;
    form {
        width: 100%;
        .scope-switch-input {
            margin-top: 10px;
        }
        .mdc-text-field--textarea {
            margin-top: 10px;
        }
        .pinned-switch-input {
            margin-top: 10px;
        }
        .submitArea {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            button {
                margin-right: 20px;
            }
        }
    }
}
