div.Slideshow {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 3px 5px darkgrey;
    border-radius: 5px;
    i.action-left, i.action-right {
        background-color: white;
        border-radius: 12px;
        position: absolute;
        box-shadow: 1px 1px 1px black;
        cursor: pointer;
    }
    i.action-left {
        left: 10px;
    }
    i.action-right {
        right: 10px;
    }
}