.MarkerToolbar {
    background-color: white;
    border-radius: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 0;
    will-change: transform;
    border-right: 1px solid lightgray;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);

    .MarkerContent {
        padding: 5px;
        display: flex;
        align-items: center;
        i {
            font-size: 33px;
        }
        .PawnMarker {
            &:first-child {
                margin-right: 5px;
            }
        }
    }
}