section.SettingUpHotspotContainer {
    display: flex;
    flex-direction: column;
    margin:30px;
    align-items: center;
    flex: 1;

    .custom-scroll {
        width: 100%;
    }

    .inner-handle {
        background-color: gray;
    }

    form.HotspotForm {
        padding: 5px;
        .scope-switch-input {
            margin-bottom: 15px;
        }
        .submitArea {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            button {
                margin-right: 20px;
            }
        }
    }
}
