
@import './variables.scss'; // add before mdc-theme to overide theme color
@import '~@material/theme/mdc-theme';
@import '~@material/typography/dist/mdc.typography.min';
@import '~@material/toolbar/dist/mdc.toolbar.min';
@import '~@material/menu/dist/mdc.menu.min';
@import '~@material/button/dist/mdc.button.min';
@import '~@material/fab/dist/mdc.fab.min';
@import '~@material/drawer/dist/mdc.drawer.min';
@import '~@material/textfield/dist/mdc.textfield.min';
@import '~@material/list/dist/mdc.list.min';
@import url('https://fonts.googleapis.com/css?family=Amaranth');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

/* reset css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

// input, select {
//     vertical-align:middle;
// }
/* end reset css */

html, body {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
}
#root {
    height: 100%;
}
// hacks for ie and edge duno why rmwc v1.2.0 and material web component 0.30 …
.material-icons.mdc-fab__icon {
    display: inherit;
}

// cityzen form

form.cityzen-form {
    .mdc-text-field {
        width: 100%;
        label {
            @extend .mdc-typography--subheading2;
        }
        .mdc-text-field__label--float-above {
            color: $mdc-theme--text-on-primary-background;
        }
    }
    div.mdc-line-ripple.mdc-line-ripple--active {
        background-color: $mdc-theme-tertiary;
    }
}
