$mdc-theme-primary: #ECECEC;
$mdc-theme-secondary: #009688; // Orange A200
$mdc-theme-background: #ffffff; // White
$mdc-theme--text-icon-on-primary: #646464;

@import '~@material/theme/mdc-theme';



html, body {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
}
#root {
    height: 100%;
}
