$mdc-theme-primary: white;
$mdc-theme-secondary: #009688;
$mdc-theme-tertiary: #f19D00;
$mdc-theme-quaternary: #a71212; // custom cityzen variable color
$mdc-theme-background: white;
$mdc-theme--text-icon-on-primary: #646464;
$mdc-theme--text-on-primary-light: rgba(0, 0, 0, .5);
$mdc-theme--text-on-primary-background: rgba(0, 0, 0, 0.6);