@import './../../../../../../client/variables.scss';

.AlertHotspot {
    justify-content: center;
    div.iconContainer {
        align-self: center;
        background-color: #dfdfe4;
        padding: 15px;
        border-radius: 50%;
        margin-bottom: 30px;
        i {
            font-size: 4em;
        }
    }
    p.question-label {
        align-self: center;
        margin-bottom: 20px;
    }
    p.question-disabled {
        align-self: center;
        a, a:visited, a:focus {
            color: $mdc-theme-secondary;
        }
    }
    div.thumb-container {
        display: flex;
        align-self: center;
        justify-content: space-around;
        width: 30%;
        cursor: pointer;
        i {
            font-size: 3em;
        }
    }
}
